.Main {
  min-height: 94vh;
  display: flex;

  .Col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
.h1 {
  color: #5b5b5b;
  text-align: center;
  font-size: 50px;
  margin-bottom: 0px;
}
.sub {
  color: #5b5b5b;
  font-family: "Roboto Mono", monospace;
}
